<img src=<%= @user.profile_photo %>><br>
Active Last: <%= @user.last_sign_in_at.to_date %>

<h1>Username: <%= @user.username %></h1><br>
Profession: <%= @user.profession %><br>
Bio: <%= @user.bio %><br>
Interests: <%= @user.interests %>
