<div class="profile-page">
  <div class="panel row">
    <div class="large-3 columns" style="padding: 5px;">
      <h3 class="screenname"><%= @user.username %></h3>
        <% if @profile_photo != nil %>
          <%= image_tag @profile_photo, style:"height: 250px; width: 200px;" %>
        <% else %>
          <%= image_tag 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSZtW3Ymm4eva-4-lPOkW5tNTN6mUM4qYZNckFWaN11PUQ1Hm1O', style:"height: 200px; width: 200px;"  %>
        <% end %>

      <% if !@user.photos.empty? && current_user != @user %>
        <div class="photo-link"><%= link_to 'More Photos', user_photo_path(@user, @user.photos), class: "radius button small" %></div>
      <% end %>
      <% if !@user.photos.empty? && current_user == @user %>
        <div class="photo-link"><%= link_to 'Review Photos', user_photo_path(@user, @user.photos), class: "round button small success" %></div>
      <% end %>

      <div class="activity">Active Last: <%= @user.last_sign_in_at.to_date %></div>
      <div class="nudge-button">
        <% if current_user.sent_nudges.empty? && current_user != @user%>
          <div><%= link_to "Nudge", user_nudge_path(@user), method: :post, class: "button tiny alert" %></div>
        <% end %>

        <% current_user.sent_nudges.each do |nudge| %>
          <% if nudge.recipient_id != @user.id  && current_user != @user%>
            <div><%= link_to "Nudge", user_nudge_path(@user), method: :post, class: "button tiny alert" %></div>
          <% end %>
        <% end %>

        <% if current_user != @user || @user.received_nudges.empty? %>
          <% @user.received_nudges.each do |nudge| %>
            <% if nudge.nudger_id == current_user.id %>
                <div class="tiny button success">Nudged</div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% if current_user == @user %>
        <% if !@user.received_nudges.empty?%>
          <div style="margin-left: 22%;">Nudged by:</div>
        <ul class="nudge-list">
          <% @user.received_nudges.each do |nudge| %>
            <li><%= link_to nudge.nudger.username, user_path(nudge.nudger) %> <%= link_to "Delete Nudge", user_nudge_delete_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete this nudge?'}, class: "button tiny alert" %></li>
          <% end %>
        </ul>
        <% end %>
      <% end %>

    </div>
    <div class="large-9 columns user-info" style="paddingleft">
      <table>
        <tr>
          <td>First Name</td>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <td>Height</td>
          <td><%= @user.height %></td>
        </tr>
        <tr>
          <td width="125">Profession</td>
          <td><%= @user.profession %></td>
        </tr>
        <tr>
          <td>Education</td>
          <td><%= @user.education %></td>
        </tr>
        <tr>
          <td>State</td>
          <td><%= @user.state %></td>
        </tr>
        <tr>
          <td>Have Children?</td>
          <td>
            <% if @user.children == true %>
              Yes
            <% else %>
              No
            <% end%>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class ="large-12 columns">
      <dl class="tabs vertical" data-tab>
        <dd class="active"><a href="#panel1">Bio</a></dd>
        <dd><a href="#panel2">Interests</a></dd>
        <dd><a href="#panel3">Favorite Books, Movies, Shows</a></dd>
        <dd><a href="#panel4">Looking For</a></dd>
        <dd><a href="#panel5">My Future</a></dd>
        <dd><a href="#panel6">Message Me If</a></dd>
      </dl>
      <div class="info">
        <div class="panel tabs-content">
          <div class="content active" id="panel1">
            <p><%= @user.bio %></p>
          </div>
          <div class="content" id="panel2">
            <p><%= @user.interests %></p>
          </div>
          <div class="content" id="panel3">
            <p><%= @user.favorites %></p>
          </div>
          <div class="content" id="panel4">
            <p><%= @user.looking_for %></p>
          </div>
          <div class="content" id="panel5">
            <p><%= @user.future %></p>
          </div>
          <div class="content" id="panel6">
            <p><%= @user.message_me_if %></p>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).foundation({
        tab: {
          callback : function (tab) {
            console.log(tab);
          }
        }
      });
    </script>
  </div>

  <div class="row">
    <div class="large-12   columns large-centered columns">
      <% if @user.sex == "Male" && current_user.sex == "Female" %>
        <h4>Post on <%= @user.username %>'s wall</h4>
        <%= form_for [@user, @post] do |f| %>
          <p class="message-title">
            <%= f.label :message %> <br>
            <%= f.text_area :message %>
          </p>

          <%= f.submit 'Post Message', class: "button" %>
        <% end %>
      <% end %>
      <div class="posts">
        <% @posts.each do |post| %>
          <% if @user == current_user || current_user.admin? || post.poster == current_user %>
            <% post.poster.photos.each do |photo| %>
              <% if photo.profile_photo == true %>
                <% if post.poster || post.recipent %>
                  <div class="panel">
                    <div class="post"><%= image_tag photo.photo.url, style:"height: 30px; width: 30px;"%> <%= post.message %> posted by: <%= link_to post.poster.username, user_path(post.poster) %>
                        <%= link_to "Delete", user_post_path(post.poster, post), style:"float: right;", class: "button tiny alert", method: :delete, data: {confirm: 'Are you sure you want to delete this comment?'} %>
                    </div>
                    <div class="responses">
                      <% post.responses.each do |response| %>
                        <div class="response"><%= response.body%> sent by <%= link_to response.poster.username, user_path(response.poster) %></div>
                      <% end %>
                    </div>
                    <div style="margin-left: 100px;">
                      <%= form_for [@user, post, @response] do |f| %>
                        <p>
                          <%= f.text_area :body, style: "width: 300px;" %>
                        </p>
                          <%= f.submit 'Post response', class: "button" %>
                        <% end %>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
