<div class="row">
  <div class="large-3 columns">
    <% @user.photos.each do |photo| %>
      <% if photo.profile_photo == true %>
        <%= image_tag photo.photo.url %><br>
      <% end %>
    <% end %>

    <% if !@user.photos.empty? %>
      <%= link_to 'More Photos', user_photo_path(@user, @user.photos) %> <br>
    <% end %>

    Active Last: <%= @user.last_sign_in_at.to_date %>
  </div>
  <div class="large-9 columns user-info">
    <h4>Username: <%= @user.username %></h4><br>
    <table>
      <tr>
        <td width="125">Profession</td>
        <td><%= @user.profession %></td>
      </tr>
      <tr>
        <td>Education</td>
        <td><%= @user.education %></td>
      </tr>
      <tr>
        <td>Bio</td>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <td>Interests</td>
        <td><%= @user.interests %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @user.state %></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><%= @user.age %></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td><%= @user.first_name %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="large 12-columns">
    Post on <%= @user.username %>'s wall<br><br>
    <%= form_for [@user, @post] do |f| %>
      <p>
        <%= f.label :message %> <br>
        <%= f.text_area :message %>
      </p>

      <%= f.submit 'Post Message', class: "button" %>

    <% end %><br><br>

      <% @posts.each do |post| %>
        <%= post.message %> posted by: <%= link_to post.poster.username, user_path(post.poster) %><br><br>
      <% end %>

  </div>
  <%= paginate @posts %>
</div>

<br>
<br>
<%= link_to "Delete Profile", user_path(@user), class: "button tiny alert", method: :delete, data: {confirm: 'Are you sure you want to delete comment?'} %>
