<% if @user != current_user %>
<div class="slideshow">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo.photo.url, style: "height: 200px; width: 200px;" %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @user == current_user %>
  <ul class="photo-list">
    <% @photos.each do |photo| %>
      <li id="photo-review"><%= image_tag photo.photo.url, :size => "300x300" %>
        <%= link_to "Delete", user_photo_path(@user, photo), method: :delete, data: {confirm: 'Are you sure you want to delete photo?'}, class: "button tiny alert" %>
        <% if photo.profile_photo == false %>
          <%= link_to "Make Profile Picture", edit_user_photo_path(@user, photo), class: "button tiny edit" %></li>
        <% end %>
        <% if photo.profile_photo == true %>
          <%= link_to "Change Profile Picture", edit_user_photo_path(@user, photo), class: "button tiny edit" %></li>
        <% end %>
        <br>
    <% end %>
  </ul>
  <%= paginate @photos %>
<% end %>
